.idea/

# first-project
first-project/node_modules

# nodejs-app-starting-setup
nodejs-app-starting-setup/node_modules

data-volumes-02-added-dockerfile/node_modules

data-volumes-04-added-nodemon/.env

multi-01-starting-setup/backend/node_modules
